.FileExplorer {
  width: 80%;
  margin: auto;
  max-width: max-content;
}
.FileExplorer .node-title {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}
#context-menu { 
  position: absolute;
  padding: 0 2px;
  background-color: #333;
  color: white;
  cursor: pointer;
};
