.FileExplorer {
  width: 80%;
  margin: auto;
  max-width: max-content;
}
.FileExplorer .node-title {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.FileExplorer .searchBox {
  padding: 5px 10px;
  margin-bottom: 10px;
};

