
* {
  box-sizing: border-box;
}

#context-menu { 
  position: absolute;
  padding: 0 2px;
  background-color: #333;
  color: white;
  cursor: pointer;
}
#context-menu ul {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#context-menu ul li {
  padding: 2px;
  list-style-type: none;
}
#context-menu ul li:hover {
  background-color: #aaa;
}